<footer class="page-meta">
    <h2>Page metadata</h2>
    <dl>
        {% if page.meta('date.created') %}
            <dt>Date created</dt>
            <dd>{{page.meta("date.created")|date}}</dd>
        {% endif %}
        <dt>Date modified</dt>
        <dd>{{page.meta("date.modified")|date}}</dd>
        <dt>HTML copy built</dt>
        <dd>{{page.meta("date.generated")|datetime}}</dd>
    </dl>
</footer>
