{% extends 'main.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <section class="main-page">
        <h1>403 Forbidden</h1>
        <p>The current user is not permitted to perform the requested operation.</p>
    </section>
{% endblock %}
