{% extends 'main.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <section class="main-page">
        <h1>404 Not Found</h1>
        <p>The requested file was not found.</p>
    </section>
{% endblock %}
