#header {
  @include crtEffect();

  .header__usermenu {
    z-index: 100;
  }
}

.header__branding {
  @include crtText;

  a {
    color: inherit;
    text-decoration: none !important;

    &:hover {
      color: var(--theme-highlight) !important;
    }
  }
}

.theme-menu {
  h1 {
    display: none;
  }

  h2 {
    margin: 0 !important;
  }
}

.menubar--usermenu .menuitem--theme>.menuitem__link::after {
  content: 'dark_mode' !important;
  font-size: 1.2rem !important;
  transform: translateY(-0.1em) !important;
}