{% extends "default.twig" %}

{% block main %}
    <main id="main-content">
        <article>
            {% include "blocks/main.twig" %}
            {% include "partials/page-meta.twig" %}
        </article>
    </main>
{% endblock %}