{% extends "default.twig" %}

{% block navigation %}
    <nav role="navigation">
        <div role="menubar">
            <a role="menuitem" href="/blog/" aria-selected="true">Blog</a>
            <a role="menuitem" href="/cv/">CV</a>
            <a role="menuitem" href="/test/">Test</a>
        </div>
    </nav>
{% endblock %}
