#header {
  font-family: $font-code;
  padding: 0;
  column-gap: $grid*2;
  row-gap: $grid/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: #d1d5da;
  background: rgb(0, 0, 0);
  background: linear-gradient(15deg, rgba(0, 0, 0, 1) 0%, rgba(34, 34, 34, 1) 35%, rgba(17, 17, 17, 1) 100%);

  .header__branding {
    font-size: 0;
    overflow: hidden;
    min-width: 20em;
    flex-grow: 10;
    order: 2;
    padding: $grid*2 $grid
  }

  .header__branding__machine,
  .header__branding__path,
  .header__branding__prompt {
    font-size: 1rem;
  }

  .header__branding__machine {
    color: #85e87f;
    max-width: 100%;
    overflow: hidden;
  }

  .header__branding__path {
    color: #79b8ff;
    max-width: 100%;
    overflow: hidden;
    white-space: break-word;
  }

  .header__branding__prompt {
    white-space: nowrap;
  }

  .header__branding__cursor {
    color: #79b8ff;
    animation: header__branding__cursor-blink 1.5s linear infinite;
  }

  @keyframes header__branding__cursor-blink {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    60% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .header__usermenu {
    opacity: 0.5;
    min-width: fit-content;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    order: 1;
    padding: $grid/2 $grid;

    &:hover,
    &:focus,
    &:focus-within {
      opacity: 1;
    }

    >.menubar {
      background-color: transparent;
      color: inherit;

      >.menuitem {
        >a.menuitem__link {
          text-decoration: none;
        }

        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus,
        &.menuitem--open {
          >a.menuitem__link {
            background-color: var(--theme-highlight);
            color: var(--theme-highlight-inv);
            text-decoration: underline;
          }
        }

        &.menuitem--logout {
          order: 1000;
          font-weight: 800;

          .menuitem__link {
            background: var(--cue-warning);
            color: var(--cue-warning-inv);
          }

          &:hover,
          &:focus,
          &:focus-within,
          &.menuitem--focus {
            a.menuitem__link {
              background: var(--cue-warning-bright);
            }
          }
        }
      }
    }
  }
}

.menubar {
  font-family: $font-code;
}

#main-nav {
  background: var(--background-darker);
  color: var(--color-lighter);
  font-family: $font-code;
  font-size: 0.82rem;

  >.menuitem {
    border-top: 4px solid transparent;

    >a {
      padding: $grid;
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-within,
    &.menuitem--current,
    &.menuitem--current-parent {
      border-color: var(--theme-highlight);
      opacity: 1;
      background-color: var(--background);
    }
  }
}

#content #main-content>h1:first-child {
  font-weight: 800;
  font-size: 2.5em;
  border-bottom: 0;
}

#content #main-content {
  h1 {
    margin-top: $grid*4;
    margin-bottom: $grid;
    font-size: 2.5em;
    font-weight: 600;
    border-bottom: 0;
  }

  h2 {
    margin-top: $grid*3;
    font-size: 2em;
    font-weight: 400;
  }

  h3 {
    margin-top: $grid*2;
    font-size: 1.5em;
    font-weight: 400;
  }

  h4 {
    margin-top: $grid*2;
    font-size: 1.25em;
    font-weight: 800;
  }

  h5 {
    margin-top: $grid*2;
    font-size: 1.25em;
    font-weight: 600;
  }

  h6 {
    margin-top: $grid*2;
    font-size: 1.25em;
    font-weight: 400;
  }
}

#content {
  padding: $grid;
  padding-top: $grid*2;
  padding-bottom: $grid*4;
}

#footer {
  font-family: $font-code;
  font-size: 0.6rem;
  padding: $grid*2;

  p {
    max-width: 60em;
  }
}