#header {
  font-family: $font-code;
  padding: $grid/2;
  column-gap: $grid*2;
  row-gap: $grid/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: #d1d5da;
  background: rgb(0, 0, 0);
  background: linear-gradient(15deg, rgba(0, 0, 0, 1) 0%, rgba(34, 34, 34, 1) 35%, rgba(17, 17, 17, 1) 100%);

  .header__branding {
    font-size: 0;
    overflow: hidden;
    min-width: 20em;
    flex-grow: 10;
    order: 100;
  }

  .header__branding__machine,
  .header__branding__path,
  .header__branding__prompt {
    font-size: 1rem;
  }

  .header__branding__machine {
    color: #85e87f;
    max-width: 100%;
    overflow: hidden;
  }

  .header__branding__path {
    color: #79b8ff;
    max-width: 100%;
    overflow: hidden;
    white-space: break-word;
  }

  .header__branding__prompt {
    white-space: nowrap;
  }

  .header__branding__cursor {
    color: #79b8ff;
    animation: header__branding__cursor-blink 1.5s linear infinite;
  }

  @keyframes header__branding__cursor-blink {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 0;
    }

    55% {
      opacity: 1;
    }

    75% {
      opacity: 1;
    }

    85% {
      opacity: 0.9;
    }

    95% {
      opacity: 0.1;
    }

    100% {
      opacity: 0;
    }
  }

  .header__search {
    order: 2;
    font-size: smaller;

    form {
      display: flex;
      width: 20em;
    }

    input {
      background: transparent;
      border: 0;
      border-radius: 0;
      font-family: $font-code;
      color: inherit;
      font-size: inherit;
      background-color: var(--theme-highlight-a10);
    }

    input[type="text"] {
      flex-grow: 1;
    }

    input[type="submit"] {
      display: none;

      &:hover,
      &:focus {
        background-color: var(--theme-highlight);
        color: var(--theme-highlight-inv);
      }
    }

    input[type="text"]:focus+input[type="submit"],
    input[type="submit"]:focus,
    input[type="submit"]:hover {
      display: block;
    }
  }

  .header__usermenu {
    opacity: 0.5;
    min-width: fit-content;
    display: flex;
    justify-content: flex-end;
    order: 1;

    &:hover,
    &:focus,
    &:focus-within {
      opacity: 1;
    }

    >.menubar {
      background-color: transparent;
      color: inherit;

      >.menuitem {
        >a.menuitem__link {
          text-decoration: none;
        }

        &:hover,
        &:focus,
        &:focus-within,
        &.menuitem--focus,
        &.menuitem--open {
          >a.menuitem__link {
            background-color: var(--theme-highlight);
            color: var(--theme-highlight-inv);
            text-decoration: underline;
          }
        }

        &.menuitem--logout {
          order: 1000;
          font-weight: 800;

          .menuitem__link {
            background: var(--cue-warning);
            color: var(--cue-warning-inv);
          }

          &:hover,
          &:focus,
          &:focus-within,
          &.menuitem--focus {
            a.menuitem__link {
              background: var(--cue-warning-bright);
            }
          }
        }
      }
    }
  }
}

.menubar {
  font-family: $font-code;
}

#main-nav {
  background: var(--background-darker);
  color: var(--color-lighter);
  font-family: $font-code;
  font-size: 0.82rem;
  padding: 0;

  >.menuitem {
    border-top-left-radius: $grid/4;
    border-top-right-radius: $grid/4;
    margin: 0;

    &.menuitem--current,
    &.menuitem--current-parent {
      >a {

        &:before {
          content: '::';
        }

        &:after {
          content: '::';
        }
      }
    }

    >a {
      padding: $grid;

      &:before,
      &:after {
        display: inline-block;
        vertical-align: baseline;
      }

      &:before {
        content: '[';
        padding-right: 0.5em;
      }

      &:after {
        content: ']';
        padding-left: 0.5em;
      }
    }

    &:hover,
    &:active,
    &:focus,
    &:focus-within,
    &.menuitem--current,
    &.menuitem--current-parent {
      opacity: 1;
      background-color: var(--background);
    }

    &:hover,
    &:active,
    &:focus {
      >a {
        background-color: var(--theme-highlight);
        color: var(--theme-highlight-inv);
        text-decoration: none;
      }
    }
  }
}

#main-nav.menubar--overflowed {
  padding: 0;

  >.menuitem {
    border-top: 0;
    margin: 0;
    border-radius: 0;
  }

  >.menuitem.menubar--overflowed__toggle {
    border-color: var(--theme-highlight) !important;
  }
}

#article>h1:first-child {
  font-weight: 800;
  font-size: 2.5em;
  border-bottom: 0;
}

#article {
  >h1 {
    margin-top: $grid*4;
    margin-bottom: $grid;
    font-size: 2.5em;
    font-weight: 600;
    border-bottom: 0;
  }

  >h2 {
    margin-top: $grid*3;
    font-size: 2em;
    font-weight: 400;
  }

  >h3 {
    margin-top: $grid*2;
    font-size: 1.5em;
    font-weight: 400;
  }

  >h4 {
    margin-top: $grid*2;
    font-size: 1.25em;
    font-weight: 800;
  }

  >h5 {
    margin-top: $grid*2;
    font-size: 1.25em;
    font-weight: 600;
  }

  >h6 {
    margin-top: $grid*2;
    font-size: 1.25em;
    font-weight: 400;
  }
}

#page-wrapper {
  margin: $grid*4 $grid;
}

#footer {
  font-family: $font-code;
  font-size: 0.6rem;
  padding: $grid*2;

  p {
    max-width: 60em;
  }
}